body {
    margin: 0;
    font-family: helvetica;
    color: black;
    background-color: whitesmoke;
}

h1 {
    font-size: 48px;
    padding-top: 20px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-szie: 16px;
}

.content {
    text-align: center;
}

input {
    width: 280px;
    padding: 12px;
    margin: 12px;
    border-radius: 6px;
    border: 2px solid grey;
    box-sizing: content-box;
}

input[type=submit] {
    font-size: 16px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 6px;
    width: 120px;
    background-color: white;
    color: black;
}

input[type=submit]:hover {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
}
