{% extends 'base.html' %}

{% block content %}
    <h1>Send Algorand</h1>
    <form action="{{ url_for('send') }}" method="post">
        {{ form.csrf_token }}

        {{ form.quantity }}
        <br>
        {{ form.receiver }}
        <br>
        {{ form.note }}
        <br><br>
        {{ form.submit }}
        <br>

        {% if form.quantity.errors %}
            {% for error in form.quantity.errors %}
                <h3>{{ error }}</h3>
            {% endfor %}
        {% endif %}
        {% if form.receiver.errors %}
            {% for error in form.quantity.errors %}
                <h3>{{ error }}</h3>
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}